<div class="signup-form">
    <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
		<h2>Create Account</h2>
    <p class="lead">DigiPay - Secure way for money transfer</p>
      <div class="form-group">
        <div style="display: flex;">
          <div class="input-group" style="width: 50%;margin-right: 2%;">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input type="text" class="form-control" formControlName="firstName" name="username" placeholder="First Name">
          </div>
          <div class="input-group" style="width: 50%;">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input type="text" class="form-control" formControlName="lastName" name="username" placeholder="Last Name">
          </div>
        </div>

        <span style="margin-right: 2%;" *ngIf="!signUpForm.get('firstName').valid && signUpForm.get('firstName').touched">Enter valid first name!</span>
        <span style="float: right;" *ngIf="!signUpForm.get('lastName').valid && signUpForm.get('lastName').touched">Enter valid last name!</span>
      </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-phone"></i></span>
            <input type="text" class="form-control" formControlName="contact" name="contact" placeholder="Contact" step="0">
          </div>
          <span *ngIf="!signUpForm.get('contact').valid && signUpForm.get('contact').touched">Enter valid contact!</span>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
            <input type="email" class="form-control" formControlName="email" name="email" placeholder="Email Address">
          </div>
          <span *ngIf="!signUpForm.get('email').valid && signUpForm.get('email').touched">Enter valid email address!</span>
        </div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <input type="password" class="form-control" formControlName="password" name="password" placeholder="Password">
      </div>
      <span *ngIf="!signUpForm.get('password').valid && signUpForm.get('password').touched">Password isn't valid</span>
        </div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon">
					<i class="fa fa-lock"></i>
					<i class="fa fa-check"></i>
				</span>
        <input type="password" class="form-control" formControlName="confirm_password" name="confirm_password" placeholder="Confirm Password">
      </div>
      <span *ngIf="!signUpForm.get('confirm_password').valid && signUpForm.get('confirm_password').touched">Confirm password isn't valid</span>
        </div>
		<div class="form-group">
      <re-captcha
          #captchaRef="reCaptcha"
          (resolved)="resolved($event)"
          (error)="onError($event)"
          errorMode="handled"
          siteKey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"
          size="invisible"
      ></re-captcha>
      <input type="hidden" formControlName="recaptcha" value=captchaRef>
      <button id="recaptcha-submit" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI" type="submit" class="btn btn-primary btn-block btn-lg" [disabled]="signUpForm.invalid">Sign Up</button>
    </div>
		<p class="small text-center">By clicking the Sign Up button, you agree to our <br><a [routerLink]="['/terms-conditions']">Terms &amp; Conditions</a>, and <a [routerLink]="['/privacy-notice']">Privacy Policy</a>.</p>
    </form>
	<div class="text-center">Already have an account? <a [routerLink]="['/login']">Login here</a>.</div>
</div>
<!-- <div class="g-recaptcha" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"
  data-bind="recaptcha-submit" data-callback="captchaSubmit">
</div> -->
